config/config.ini

# Ignore environment variables file
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/

# IDE/editor configs
.vscode/
.idea/
*.swp
